<%- include('../partials/header.ejs') %>

<div class="row mt-5">
    <div class="col">


        <p> <%# Show admin badge when user is admin %>
            <% if (user.admin) { %>
            <span class="badge badge-primary">Admin</span>
            <% } %>
        </p>

        <h2 class="mb-3"><%= user.full_name %></h2>

        <ul class="list-group">
            <li class="list-group-item">Total Secrets: <span class="badge badge-light"><%= messages.length %></span>
            </li>
        </ul>

        <%# if currentUser owns this profile show the edit profile and req admin permissions buttons %>
        <% if ( String(currentUser._id) === String(user._id)) { %>
        <div class="mt-3 mb-3">
            <a class="btn btn-primary mr-2" href="#">Edit Profile</a>

            <%# But only show Req Admin Permissions if the user is not already an admin %>
            <% if (currentUser.admin !== true) { %>
            <a class="btn btn-primary" href="/members/<%= user._id %>/admin">Request Admin Permissions</a>
            <% } %>
        </div>
        <% } %>

        <hr>
        <h2 class="mt-4 mb-4">Messages</h2>

        <%# Show Add Secrete button if user owns profile %>
        <% if (String(currentUser._id) === String(user._id)) { %>
        <div class="text-center">
            <a class="btn btn-primary" href="/messages/add">Add Secret</a>
        </div>
        <% } %>


        <% if(messages.length) { %>
        <div class="card-columns mt-3">

            <% messages.forEach(message => { %>
            <div class="card text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title"><%= message.title %> </h4>

                    <p><%= message.extract %></p>

                    <% if (currentUser && currentUser.status === 'member') { %>
                    <footer class="blockquote-footer">
                        <small>
                            <%= message.postedBy.first_name + ' ' + message.postedBy.last_name %> -
                            <%= message.dateFormatted %>
                        </small>
                    </footer>
                    <% } %>


                    <div class="mt-3">
                        <a class="btn btn-primary btn-sm mr-2" href="/messages/<%= message._id  %>">View</a>
                        <% if (currentUser && currentUser.admin === true) { %>
                        <a class="btn btn-warning btn-sm" href="/messages/<%= message._id  %>/delete">Delete</a>
                        <% } %>
                    </div>

                </blockquote>
            </div>
            <% }) %>

        </div>
        <% } else { %>
        <h3>No messages yet</h3>
        <p><a href="/log-in">Login</a> and add a message or <a href="/sign-up">Sign Up</a></p>
        <% } %>

    </div>
</div>


<%- include('../partials/footer.ejs') %>