<%- include('partials/header.ejs') %>

<div class="row pt-5 justify-content-center">
    <div class="col-md-4">

        <h2 class="text-center mb-3">Sign Up</h2>
        <ul class="list-group text-danger mb-3">
            <% if (errors) { errors.forEach(error => {  %>
            <li class="list-group-item"><%= error.msg %></li>
            <% }); } %>
        </ul>
        <form action="" method="POST">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="Enter first name"
                    value="<%= user ? user.first_name : '' %>">
            </div>
            <div class="form-group">
                <label for="last_name">First Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Enter last name"
                    value="<%= user ? user.last_name: '' %>">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter user name"
                    value="<%= user ? user.username: '' %>">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password"
                    value="<%= user ? user.password : '' %>">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password"
                    value="<%= user ? user.confirm_password : '' %>">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" name="admin" type="checkbox" value="true">
                    Click if this is admin
                </label>
            </div>
            <input type="submit" class="btn btn-primary mr-3" value="submit">
        </form>
        <p class="mt-3">Already a registered? <a href="/log-in">Sign in</a></p>


    </div>
</div>

<%- include('partials/footer.ejs') %>